

.plans{
    background-color: #D4FAFF;
    height: fit-content;
    margin-top: 6rem;
    padding-top: 5rem;
    position: relative;
    h1{
        font-size:55px;
        font-weight: 900; 
        color:#1A90C6;
        margin-bottom: 1rem;
    }
    p{
        color: grey;
        font-size: 17px;
    }
    .services-child{
        .card{
            text-align: center;
            img{
                width: 4rem;
                height: 4rem;
                margin: auto;
                display: block;
                
                
            }
            p{
                color: grey;
                font-size: 17px;
            }
            h4{
                color: #86d848;
            }
        }
    }
}


@media(max-width:500px){
    .plans{
        .services-child{
            margin: 0 !important;
            margin-top: -17rem !important;
            padding-bottom: 17rem !important;
        }
        .card{
            width: 100% !important;
        }
        .errCard{
            margin-top: 1.5rem !important;
        }
    }
}

